<div class="single-flex-item header">
  Single Flex Item
</div>
<app-single-flex-item></app-single-flex-item>

<div class="double-flex-item header">
  Double Flex Item
</div>
<app-double-flex-item></app-double-flex-item>

<div class="double-flex-item-multiple header">
  Double Flex Item Multiple
</div>
<app-double-flex-item-multiple></app-double-flex-item-multiple>

<div class="double-flex-item-multiple-with-equal-size header">
  Double Flex Item Multiple With Equal Size
</div>
<app-double-flex-item-multiple-with-equal-size></app-double-flex-item-multiple-with-equal-size>

<div class="four-flex-item-multiple header">
  Max Four Flex Item Multiple Per Row
</div>
<app-four-flex-item-multiple></app-four-flex-item-multiple>

<div class="four-flex-item-multiple-with-equal-size header">
  Max Four Flex Item Multiple Per Row with each item of equal size
</div>
<app-four-flex-item-multiple-with-equal-size></app-four-flex-item-multiple-with-equal-size>
